<form class="form-horizontal" style="width:70%">
  <fieldset>
    <h2>Pregled proveravaca</h2>
    
    	<table class="table table-striped table-hover" id="pp">
    		<tr>
    			<td>Ime i prezime</td><td>Oblast</td>
    		</tr>
    		<tr>
    			<td> <input class="form-control" id="inputOznaka" type="text" placeholder="Ime i prezime"></td> <td> <input class="form-control" id="inputOznaka" type="text" placeholder="Ime i prezime"></td> 
    		</tr>
    	</table>
    	<button style="position:relative; float:right; top:5px" class="btn btn-info btn-lg" onclick="dodajRedPp()">Dodaj red</button>
    
	<hr />

    <div class="form-group" style="position:relative; top:-5px; left:-140px">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default btn-lg">Odustani</button>
        <button type="submit" class="btn btn-primary btn-lg">Potvrdi</button>
      </div>
    </div>
  </fieldset>
</form>